.navbar {
    background: #FFF;
    z-index: 1000;
    width: 80%;
    opacity: 0.9;
    top: 0;
}

.banner {
  position:relative;
  size: 100%;
}

.logotext {
  position: absolute;
  margin: auto;
  display: block;
  text-align: center;
  color; white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%%;
}

.col-xl {
  margin: auto;
  width: 100%;
}


font {
  color: white;
  background: rgba(193, 66, 66, 0.6);
}

p{
  text-align: justify;
}

.image-capture {
    background-size: cover;
    height: 200px;
    width: 350px;
    border-radius: 9px;
}
.container {
    padding: 10px 30px 10px 30px;
    margin: 10px auto;
    box-shadow: 0 0 30px rgba(150, 150, 150, 0.25);
    border-radius: 6px;
  }
