.navbar {
    background: #FFF;
    z-index: 1000;
    width: 80%;
    opacity: 0.7;
    top: 0;
}

.banner {
  position:relative;
  size: 60%;
}

.logotext {
  position: absolute;
  margin: auto;
  display: block;
  text-align: center;
  color; white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%%;
}

font {
  color: white;
  background-color: red;
}
