body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.container {
    padding: 10px 30px 10px 30px;
    margin: 10px auto;
    box-shadow: 0 0 30px rgba(150, 150, 150, 0.25);
    border-radius: 6px;
}

.facts1{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 50px;
}

.facts2{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 50px;
}

.facts3{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 50px;
}
