body {
  font-family: 'Segoe UI', Tahoma, Geneva, verdana, sansserif;
  text-align: center;
}

video {
    object-fit: contain;
}

header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #225470;
    opacity: 0;
}

.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
